.box{
    width: 500px;
    margin: 0 auto;
}
.block{
    width: 100px;
    height: 100px;
    animation-name: chBlock;
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color: red;
}
@keyframes chBlock{
    0%{
        background-color: red;
    }
    25%{
        background-color: blue;
        transform: translateY(300px);
    }
    50%{
        background-color: green;
        transform: translate(300px, 300px);
    }
    75%{
        background-color: yellow;
        transform: translate(300px, 0);
    }
    100%{
        background-color: red;
        transform: translate(0, 0);
    }
}